<nav>
  <ul>
    <li><%= link_to('Home',{controller: 'pages', action: 'home'})%></li>
    <li><%= link_to('Alex',{controller: 'pages', action: 'home'})%></li>
    <li><%= link_to('The Team',{controller: 'pages', action: 'home'})%></li>
    <li><%= link_to('Journal',{controller: 'pages', action: 'home'})%></li>
    <li><%= link_to('Contact Us',contact_path)%></li>
  </ul>
</nav><!-- end navigation menu -->
